.container {
	background-color: $darker;
	height: 100vh;
	padding: 10% 0;
	#bmi,
	#water-need,
	#home {
		width: 70%;
		border: 1px solid $dimdark;
		border-radius: 50px;

		box-shadow:  0px 0px 20px 2px rgba(0, 0, 0, 0.25);
		margin: auto;
		text-align: center;
		background-color: $darkprimary;
		// min-height: 300px;
		padding: 40px 0;
		h3 {
			color: $lightsecondary;
			letter-spacing: 1.5px;
			margin: auto;
			padding: 10px 0 15px 0;
		}
		p {
			padding: 0 10%;
			padding-bottom: 20px;
			letter-spacing: 1px;
			font-size: 18px;
			line-height: 27px;
			color: $lightsecondary;
			font-weight: 300;
			opacity: 0.7;
		}
		label {
			font-weight: 500;
			letter-spacing: 1.8px;
			color: $lightsecondary;
		}
		input {
			padding: 8px 0;
			text-align: center;
			margin: 5px; 
			color:  $lightsecondary ;
			border-radius: 20px;
			border: 2px solid $darker;
			background-color: $dimdark;
			&:hover {
				border: 2px solid $lightmain;
				transition: 0.25s ease;
			}
			&:focus{
				outline: none;
			}
		}
		::placeholder {
			color: $lightsecondary;
			opacity: 0.4;
			letter-spacing: 2px;
		}
		.button-bmi {
			background-color: $lightmain;
			opacity: 1;
			border-radius: 30px;
			border: none;
			color: $lightsecondary;
			font-size: 16px;
			margin-top: 10px;
			padding: 10px;
			&:hover {
				background-color: $lightmain;
				opacity: 0.85;
				transition: 0.18s ease-in;
			}
		}
	}
}

