@media (max-width: 768px) {
#wrapper{
		position: relative;
		overflow-x: hidden;
		nav {
			.nav-link {
				position: absolute;
				right: 0px;
				height: 91vh;
				top: 8vh;
				background-color: var(--color-primary);
				display: flex;
				flex-direction: column;
				justify-content: start;
				
				// align-items: center; 
				width: 45%;
				transform: translateX(100%);
				transition: transform 0.36s ease-in;
				li {
					// padding: 2% 0;
					width: 90%;
					border-radius: 15px;
					margin: 8% auto ;
					opacity: 0;
					text-align: center;
					&:hover {
						/* width: 100%; */
						background-color:  var(--color-mild) ;
						// max-width: 50px ; 
						a{
							border: none;
						
						}
						
					}
					a{
						border: none;
						display: inline-block;
						width: 100% ;
						font-family: 'Rubik', sans-serif;
						font-weight: 400;
					
					}
					
				}
			}
			.nav-active {
				transform: translateX(0);
			}
			.switchmode{
				margin-left: 9%;
			}
			.burger {
				cursor: pointer;
				display: block;
			}
		}
	.sectioncontainer{
		padding-top: 15%;
		opacity: 1;
		transition: 0.4s ease-out;
	}
	.sectioncontainer-sidebar{
		opacity: 0.45;
		transition: 0.4s ease-in;
	}
	.container { 
		#bmi,
		#water-need,
		#home {
			width: 93%;
			margin: auto;
			padding: 5%;
			border-radius: 30px;
			box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.25);
			p{
				font-size: 12px ;  
				line-height: 18px;
				padding: 0;
				text-align: center;
				margin-bottom: 15px; 
			}
			label{
				font-size: 17px;
				font-weight: 400;

			}
			.results{
				p{
					font-size: 18px;
					margin-bottom: 9px;
				}
			}
			.button-bmi{
				  margin-bottom: 0px;
			}
			.invalid-msg{
				// margin-top: 10px;
			}

		}
	}
	}

	
	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}
	.toggle .line1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	}
	.toggle .line2 {
		opacity: 0%;
	}

	.toggle .line3 {
		transform: rotate(45deg) translate(-5px, -6px);
	}

}

 
