nav {
	transition: 0.2s ease-out;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1; 
	width: 100%;
	position: fixed;
	border-bottom: 2px solid var(--color-mild);
	min-height: 9vh;
	// box-shadow:  0px 0px 20px 300px rgba(0, 0, 0, 0.25);
	font-family: "Poppins", sans-serif;
	background-color: var(--color-primary);

	.logo {
		letter-spacing: 3px;
		font-size: 25px;
		h3 a {
			color: var(--color-secondary);
			font-family: 'Rubik', sans-serif;
			font-weight: bolder; ;
			text-decoration: none;
		}
	}

	.nav-link {
		display: flex;
		justify-content: space-around;
		width: 35%;
		li {
			list-style: none;
			a {
				color: var(--color-secondary);
				text-decoration: none;
				letter-spacing: 1px;
				font-weight: 300;
				font-size: 18px;
				padding: 6px 9px ;
				border-radius: 6px;
			}
			&:hover a {
				background-color: var(--color-mild);
				transition: 0.04s ease-in;
			}
			&:active a {
				background-color:  $lightmain;
				transition: 0.04s ease-in;
			}
		}
	}
	.switchmode{
		padding: 5px 10px; 
		border: none; 
		border-radius: 30px; 
		background-color: $lightmain;
		color: $darkmain ; 
		&:hover{
			opacity: 0.85;
		}
		&:focus{
			outline: none;
		}
	}
	.burger {
		display: none;
		div {
			width: 25px;
			height: 3px;
			background-color: var(--color-secondary);
			margin: 5px;
			transition: all 0.3s ease;
		}
	}
}
