nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	// position: fixed;
	min-height: 8vh;
	font-family: "Poppins", sans-serif;
	background-color: $darkprimary;

	.logo {
		letter-spacing: 4px;
		font-size: 20px;
		h3 a {
			color: $lightsecondary;
			text-decoration: none;
		}
	}

	.nav-link {
		display: flex;
		justify-content: space-around;
		width: 35%;
		li {
			list-style: none;
			a {
				color: $lightsecondary;
				text-decoration: none;
				letter-spacing: 1.8px;
				font-weight: 400;
				font-size: 18px;
				padding: 6px 9px ;
				border-radius: 6px;
			}
			&:hover a {
				background-color: $dimdark;
				transition: 0.04s ease-in;
			}
		}
	}
	.burger {
		display: none;
		div {
			width: 25px;
			height: 3px;
			background-color: $lightsecondary;
			margin: 5px;
			transition: all 0.3s ease;
		}
	}
}
