// variables and utility functiions
@import "./utils";

// Global resets
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// font-family: 'Rubik', sans-serif;
	font-family: "Poppins", sans-serif;
}

body {
	// background-color: var(--color-background ) ;
}

// Nav Bar
@import "./navbara";

// Main FitTest components
@import "./fittest";

// Mobile view
@import "./mobile";
